*{
    margin:0
}
h1{
    display: block;
}

.formDiv{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;  
    margin: 40px;
    padding: 40px
}

.mapDiv{
    display: flex;
    flex-direction: column;
    align-items: left; 
    margin: 10px;
    background-color: rgba(137, 193, 132, 0.358);
    border-radius: 40px;

    padding:40px;
    border: 10px solid rgba(87, 194, 92, 0.817);
    border-radius: 10px;
}

.containter{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 50px;
}
