*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}

.brewery-card{

    border: 1px solid black;
    padding:10px;
    color:white;
     
    padding:25px;
    margin:25px;
   
    background-color: rgba(154, 22, 22, 0.358);
    
    background-position-y: -200px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgba(11, 49, 82, 0.413);

}



/* ////////////////////      NavBar     /////////////////// */




a{
    color:rgb(233, 172, 16);
    text-decoration: none;
    font-size: 30px;
    font-family: 'Notable', sans-serif;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    
}


a:hover{
    color:rgb(14, 150, 118);
    text-decoration: none;
    font-size: 35px;
    
   
    
}


.NavBar{
    background-color:azure;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 5px;
    margin: 0px;
    position: sticky;
    top: 0;
}




/* //////////////////////    Home Page     ////////////////// */



.HomeContainer{

    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(10, 5vw)  ;
 
    
}


.imgTag {

    width: 100%;
    height: 100%;
    object-fit: fill;
}


.imgTag2 {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 0px 80px
    
}


.imgTag3 {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Visit {

    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family:  'Lobster', cursive;
}

.Home4 {

    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 11;
    
}


.imgTag4 {

    width: 100%;
    height: 100%;
    object-fit: fill;
    font-size: 140px;
    color: azure;
    text-shadow: 7px 7px 7px rgb(10, 67, 10);
}

.Home1 {

    grid-column-start:10;
    grid-column-end: 14;
    grid-row-start: 2;
    grid-row-end: 6;
   
}

.Home2{

    grid-column-start: 10;
    grid-column-end: 14;
    grid-row-start: 5;
    grid-row-end: 11;
}


.Home3{
   
    grid-column-start: 1;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 12;
}



/* /////////////////////////   About Page     //////////////// */





.AboutContainer{
    background-image: linear-gradient(rgb(21, 140, 108),rgb(27, 203, 127),rgb(21, 140, 108));
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(10, 5vw)  ;
 
}

.BrewLogo{
    width: 100%;
    height: 100%;
    object-fit: fill;

}

.BrewLogoInput{
    grid-column-start: 1;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 12;
}


.About1{
   
    grid-column-start: 2;
    grid-column-end:9;
    grid-row-start: 3;
    grid-row-end:4;
    color:azure;
    
   
    
}

.aboutText {
    width: 100%;
    height: 100%;
    object-fit: fill;
    font-size: 40px;
}



/* ///////////////////       Search Page      ////////////// */

.aTag{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: azure;
    font-size:40px;
    font-style: oblique
}



input{
    width: 400px;
    height: 80px;
    object-fit: fill;
    font-size:30px;
    border: 10px solid cornflowerblue;
    
   
}

.searchContainer{
    display: grid;
    grid-template-columns: repeat (10 ,1fr);
    grid-template-rows: repeat (10 , 5vw);
    background-image: linear-gradient(brown, rgb(216, 82, 52), black)
}

.searchTitle{
    font-family:  'Lobster', cursive;
    font-size: 100px;
    color: azure;
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
   
}

.GifGRAB{
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gifBeerGrab{
    width: 1300px;
    object-fit: fill;
}




.searchBar{
    grid-column-start: 6;
    grid-column-end: 14;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 20px;
    
}








/* //////////     Map Locator     ///////// */


.MapContainer{
    display: grid;
    grid-template-columns: repeat (10 ,1fr);
    grid-template-rows: repeat (10 , 5vw);
    background-image: linear-gradient(rgb(37, 160, 113) , rgb(30, 222, 139), rgb(0, 128, 126))
}


.LmapImg {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


.MugLogo{
    height: 100px;
}

.MugIcon{
    position: relative;

}

.MugIcon>span{
    position: absolute;
    bottom:21px;
    left:24px;
    color:azure;
    font-size: 25px;
    text-shadow: 3px 3px 2px rgb(52, 21, 8);
    z-index: 1;
}
/* 
.MugGif{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end:4;
} */

.googleMap{
    height: 800px;
    width: 600px;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end:5;
}




/* ////////////////////////    footer      ///////////////// */



.footer{
    padding: 50px;
    background: azure;
    position: sticky;
    top: 0;
    
}

address{
    font-family: lato;
    font-size: 20px;
    color: slategray;
    padding: 20px;
    margin: 10px;
}

.footText{
    font-family: lato;
    font-size: 30px;
    padding: 20px;
    color: slategray;
}




@media only screen and (min-width: 300px)and (max-width:899px){

a{
    font-size: 15px
}

.NavBar{
   background-color: none;
   height: 0px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0px;
    margin: 0px;
    position: none;
    

}


address{
    display: flex;
    
    align-content: space-around
}

.insta{
    display: flex;
    width: 25px;
}

.googleMap{
        height: 800px;
        width: 600px;
}

.footer{
    display: flex;
   justify-content: left;
   align-content: flex-end;
   padding: 30px;
  
}

.footText{
    font-size: 15px
}

.Home4 {
    display: flex;
    justify-content: flex-start;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 23;
    grid-row-end: auto;
    
}

.imgTag4 {

    width: 100vw;
    height: 100vh;
    object-fit: cover;
    font-size: 48px;
}

.Home1 {

    grid-column-start:5;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 7;
   
}

.Home2{

    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 35;
    grid-row-end: 55;
}


.Home3{
   
    grid-column-start: 1;
    grid-column-end: 20;
    grid-row-start: 1;
    grid-row-end: 60;
}


.imgTag3 {

    width: 100vw;
    height: 800px;
    object-fit: cover ;
}




.HomeContainer{
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(60, 5vw)  ;
    background-image: radial-gradient(rgb(23, 15, 15),rgb(50, 50, 39), black)
}

.GifGRAB{
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 70;
    grid-row-end: 100;
}

.gifBeerGrab{
    width: 800px;
    height: 800px;
    object-fit: cover;
}

#mySidenav a {
    position: absolute;
    left: -100px;
    transition: 0.3s;
    padding: 28px;
    font-family:  'Lobster', cursive;
    width: 100px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    border-radius: 0 15px 15px 0;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #navHome {
    top: 10px;
    background-color: rgb(223, 159, 19);
  }
  
  #navAbout {
    top: 100px;
    background-color: rgb(243, 107, 33);
  }
  
  #navSearch {
    top: 188px;
    background-color: #e42a26;
  }
  
  #navLM {
    top: 310px;
    background-color: rgb(162, 30, 30);

  }

  .searchContainer{
    display: grid;
    grid-template-columns: repeat (18 ,1fr);
    grid-template-rows: repeat (10 , 5vw);
    background-image: linear-gradient(brown, rgb(216, 82, 52), black)
}


.searchTitle{
    font-family:  'Lobster', cursive;
    font-size: 80px;
    color: azure;
    grid: column start 5;;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
   
}


.searchBar{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 8;
    
    
}
form{
    padding: 30px;
}
input{
    width: 70px;
    height: 50px;
    object-fit: fill;
    font-size:30px;
    /* display: flex;
    justify-content: flex-end;
    align-content: flex-end; */
    border: 10px solid cornflowerblue;
    border-radius: 20px solid blue

    
   
}

.inputArea{
    border: 10px solid cornflowerblue;
    border-radius: 20px solid blue
}



} 
 

/* Tablet*/
@media only screen and (min-width: 700px) and (max-width: 999px){





}