.img{
  
   height:650px;
   background-position: center;
   background-size: cover;
   background-position-y:-170px;
   background-color: rgba(0, 0, 0, 0.077);
   position: relative;
   z-index: 0;
   
   
}   

.containerOuter{
    
   
}
.containerInner{

}

h1{
 
  
  
}