#tform {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20hv;
    margin: 200px;
    color: aliceblue;
}

#travelForm{
    
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 20hv;

}

p{
    border: 5px  azure;

}

body {
    background-image: url("https://images.trvl-media.com/media/content/expus/graphics/launch/home/tvly/150324_flights-hero-image_1330x742.jpg");
    background-color: #cccccc;
   }

h1{
    text-align: center;
    color: aliceblue;


}