* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}



.title {
  display: flex;
  font-family: 'Encode Sans', sans-serif;
  color: rgb(102, 137, 155);
  font-size: 50px;
  margin: 100px;
  text-shadow: 3px 3px 7px rgb(163, 210, 216);
}

.image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 100vw;
  background-attachment: fixed;
}

.imgTag {
  background-image: url(./image/image.jpeg);

  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  object-fit: cover;
  width: 100vw
}

.white {
  height: 300px;
  width: 100px;
  background-color: azure;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  object-fit: cover;
  width: 100vw
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

}


.wrapper {
  /* background:whitesmoke; */
  padding: 0px
}

.parallax-img {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

}

/* Other styling elements, that are not necessary for the example */

body {
  margin: 0;

}



h1 {
  /* background-color:whitesmoke; */
  text-align: center;
  padding: 50px;
}

p {
  margin: 40px;
  font-size: 25px;
  text-align: center;
  color: rgb(99, 164, 194)
}

.parallax-img {
  background-image: url(./image/w.jpeg);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-repeat: no-repeat;
}

.header1 {
  font-family: lato;
  font-size: 100px;
  color: rgb(64, 138, 172);
}

.imgProfile {

  width: 450px;
  height: 500px;
  border-radius: 150px;
  object-fit: initial;
  box-shadow: 10px 10px 10px rgba(18, 16, 43, 0.605);
}

.profile {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: self-end;
  margin: 300px 200px 0px 0px
}

.name {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: right;
  color: azure;
  font-family: lato;
  font-size: 50px;
  padding: 0px 0px 0px 0px;
  margin: 50px 100px 0px 0px;
  /* box-shadow: 10px 10px 10px rgba(18, 16, 43, 0.605); */



}

.skillsGrid {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
  color: whitesmoke;
  margin: 0px;
  font-size: 60px;
  margin: 250px 200px 0px 200px;
  font-family: lato;

}

.titleSkill {

  font-size: 35px;
  margin: 0px 0px 20px 0px;

}

span {
  color: azure;
}

.skills1 {
  color: azure;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  font-family: lato;



}

.skills2 {
  color: azure;
  font-family: lato;


}

.skills3 {
  color: azure;
  font-family: lato;
  align-items: center;
}

.skills4 {
  align-self: center;
  justify-self: center;
  color: azure;
  font-family: lato;


  /*?  FOOTER   */
}

.footer {
  background-image: linear-gradient( rgba(255, 180, 139, 0.94),rgba(130, 183, 193, 0.947));
  padding: 50px;
  color: azure;
  /* position: absolute;
  bottom: 0;
  width:100%; */
}

.footList {
  font-size: 40px;
  font-family: lato;
}

/*?   link container */

.linkContainer {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
  color: whitesmoke;
  margin: 0px;
  font-size: 60px;
  margin: 0px 200px 0px 200px;
  font-family: lato;


}
.links{
  color: whitesmoke;
}

.links:hover {
  color: lightcoral
}
 
.linkSkill {

  font-size: 35px;
  margin: 0px 0px 30px 0px;
}

a {
  text-decoration: none;
  
}

#nav{
  font-size:30px; 
  color: rgb(59, 98, 165);
  font-family: lato;
  display: flex;
  justify-content: space-evenly;
 
}

#nav a{
  color: rgb(59, 98, 165);
}
#nav a:hover {
  color: lightcoral
}

a:hover {
  color: lightcoral
}

/*?     Projects    */

.parallax-img2 {
  background-image: url(./image/w.jpeg);
  height:100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
 
 
  


}

.imgTag2 {
  background-image: url(./image/image.jpeg);

  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  object-fit: cover;
  width: 100vw
}
.projectContainer{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr);
  
 
}
.Vice {
  height: 700px;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(18, 16, 43, 0.605);
  transition: 500ms
}

.Vice:hover{
  height: 725px;
  transition: ease-in-out, 1s
}
/* .V{
  display:flex;
  justify-content: center;
  align-self: center
}
.Vr{
  height: 100px;
  display:flex;
  justify-self: top;
  align-self: top

} */
.project1{
  display: flex;
  justify-self: center;
  align-self: center;

  padding:10px;
  grid-column-start: 3;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: 0px 0px 0px 0px
}

.Brewery{

  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(18, 16, 43, 0.605);
  transition: 500ms
}

.Brewery:hover{

  height: 725px;
  transition: ease-in-out, 1s

}

.project2{

  display: flex;
  justify-self: center;
  align-self: center;
  grid-column-start: 3;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 6;
  margin: 0px 0px 0px 0px;
  
}

.Mario{

  height: 700px;
  display: flex;
  justify-content:center; 
  align-self: center;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(16, 29, 43, 0.605);
  transition: 500ms

}

.Mario:hover{

  height: 725px;
  transition: ease-in-out, 1s

}

.project3{
  display: flex;
  justify-self: center;
  align-self: center;

  grid-column-start: 3;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 9;
}