body{
    background-color: black;
}

#box{
    
   
    border: 10px solid lightslategray;
    background-color: lightslategrey;
    margin: 60px auto;
    box-shadow: 20px 20px blueviolet;
    border-radius: 20px;
}

#heading{
    text-align: center;
    font-family:  'Arial Narrow' ;
    font-size: 100px;
}

p{
    text-align: center;
    font-size: 20px;
    color: aqua;
}

.title{
    font-style: Bold;
    font-size: 30px;
    color: darkmagenta;
}