*{
    margin:0
}

.navBar{
    display: flex;
    justify-content: space-evenly;
    


}
a{
    text-decoration-line: none;
    color: darkcyan;
    font-size: 25px;
}

.a-dark{
    color: white;
    font-size: 25px;
}
.navBar{
 color:white;
 background-color:rgba(159, 215, 121, 0.708);
 padding: 20px;
 background-blend-mode: color-burn
}

.navBar-dark{
    color:white;
    background-color:rgba(59, 188, 203, 0.406);
    padding: 20px;
   }

.theme-light{
    background-image: linear-gradient(darkgreen, lightgreen, darkgreen);
    
    background-color: rgb(210, 232, 210)
}

.theme-dark{
    background-color: rgb(69, 71, 140);
    background-image: linear-gradient(rgb(4, 49, 117), rgb(69, 168, 201), rgb(0, 57, 100));
    color: azure;
}

.h1-light{
    display: flex;
    justify-content: center;
    align-content: center;
   

}

.h1-dark{
    display: flex;
    justify-content: center;
    align-content: center;
   
}
.h2-light{
    color:darkcyan;
    display: flex;
    justify-content: center;
    align-content: center;

    
}

.h2-dark{
    color:lightsalmon;
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn{
    display: flex;
    justify-content: center;
    align-content: center;
    padding:20px;
    margin:10px;
    border-radius: 30px;
    font-size: 15px;
    border: 5px solid rgb(212, 235, 63);
    background-color: azure;
}
.btn-light{
    display: flex;
    justify-content: center;
    align-content: center;
    border: 5px solid rgb(212, 235, 63);
}
.btn-dark{
    color:white;
    background-color:lightsalmon;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 5px solid rgb(255, 183, 0);
 
}

.main-light{
    padding: 200px;
    margin: 190px;
}
button:hover {
    cursor: pointer;
    background-color: rgb(189, 65, 230);
    border: 3px solid rgb(225, 0, 255);
    color:white;
}

button:focus {
    outline: none;
   
}
.main-dark{
    
    padding: 200px;
    margin: 190px;
}

.foot-light{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:rgba(159, 215, 121, 0.708);
 padding: 20px;
}

.foot-dark{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:rgba(59, 188, 203, 0.406);
    padding: 20px;
}